<!-- Banner -->
<div class="banner">
  <div class="container">
    <h1 id="banner-title"><%= @user.name.capitalize %></h1>
    <p>A true hen lover!</p>
  </div>
</div>

<!-- Page container -->
<div class="cards-container text-align-center">

  <!-- User Info Card -->
  <!-- Bootstrap classes to be removed. Wait for Noeline's seeds! -->
  <div class="user-info-card">
    <!-- Contains the info about the user -->
      <div class="farmer-photo-info">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key %>
        <% else %>
          <%= image_tag("https://poulespondeuses.com/wp-content/uploads/2018/02/Tonio-Poule-1080x810.jpg") %>
        <% end %>

      </div>
      <div class="card-body">
        <h3 class="card-title"><%= @user.name.capitalize %></h3>
        <p class="card-text bold-info-p"><i class="fas fa-map-pin"></i> <%= @user.address %></p>
        <p class="card-text"><%= @user.description %></p>

        <a class="btn-yellow small-btn right-button" id="review-button" href="#reviews">Reviews 👇</a>
        <div id="modify-button">
          <% if policy(@user).update? %>
            <%= link_to "Modify", edit_user_path(current_user), class: "btn-yellow small-btn right-button" %>
          <% end %>
        </div>
      </div>
    </div>

  <div class="card">

    <div class="card-body">

      <h3 class="card-title">His hens!</h3>

      <div class="text-right">
        <% if current_user == @user %>
          <% if policy(Hen).new? %>
            <%= link_to "Add a new hen",  new_user_hen_path(current_user), class: "btn-yellow small-btn hover" %>
          <% end %>
        <% end %>
      </div>

      <div class="hen-cards">
          <% @hens.each do |hen| %>
          <!-- Hen card. -->
          <% hen.disponibility ? availability_filter = "" : availability_filter = "grey-filter"%>
              <div class="card-product <%= availability_filter %>" >
                <% if hen.photo.attached? %>
                  <%= cl_image_tag hen.photo.key %>
                <% else %>
                  <%= image_tag("australorp.png") %>
                <% end %>
                <% if policy(hen).update? %>
                  <%= link_to edit_user_hen_path(@user, hen) do %>
                    <h6 id="update">Update</h6>
                  <% end %>
                <% end %>
                <div class="card-product-infos" style="padding-top: 0px">
                  <h2 class="card-title"><%= hen.name.capitalize %></h5>
                  <p class="card-text">Breed: <%= hen.breed %></p>
                  <p class="card-text"><%= hen.name %> is <%= hen.age.round %> years old!</p>

                  <p id="price" id="price"><%= hen.price %>€ /mois</p>

                <% if policy(Request).new? %>
                <% if current_user != @user  %>
                  <% if hen.disponibility == true  %>
                    <%= link_to new_hen_request_url(hen) do %>
                      <div class= "hover" id="book">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>Book <%= hen.name %>
                      </div>
                    <% end %>
                  <% else %>
                    <div id="book">
                      <i class="fa fa-ban" aria-hidden="true"></i> Booked
                    </div>
                  <% end %>
                <% end %>
                </div>
              </div>
              <% end %>
          <% end %>
      </div>
    </div>

  <!--   Review ------------------------------------------------------ -->

    <div class="reviews">
      <a name="reviews"></a>
      <h5 style="text-align: center">Let's see <%= @user.name %> reviews</h5>
   </div>
    <div class="card-review">
     <img src="https://source.unsplash.com/featured/?person">
      <div class="card-review-infos">
          <% @hens.each do |hen| %>
          <% hen.reviews.each do |review|  %>
          <li style="list-style: none"> <em> Date: </em> <%= review.created_at %><br>
            <% hen.requests.each do |request| %>
            <% endDate = request.ending %>
            <% beginDate = request.beginning %>
            Number of eggs collected : <%= (endDate - beginDate).to_i %>
            <% end %> <br>
            <% review.rating.times do %>
              <i class='fas fa-star'></i>
            <% end %>
            <% blank_stars = 5 - review.rating %>
            <% blank_stars.times do %>
              <i class="far fa-star"></i>
            <% end %> <br>
          <p><strong> Comment : </strong></b></em><%= review.content %> </p> </li>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
