<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://s3-eu-west-1.amazonaws.com/fakepeople/male/256/57.png);">
  <div class="container">
    <h1><%= @user.name.capitalize %></h1>
    <p>A true hen lover!</p>
  </div>
</div>

<!-- Page container -->
<div class="cards-container text-align-center">

  <!-- User Info Card -->
  <!-- Bootstrap classes to be removed. Wait for Noeline's seeds! -->
  <div class="card" id="farmer-intro-card">
    <!-- Contains the info about the user -->
      <div class="card-body">
        <h3 class="card-title"><%= @user.name.capitalize %></h3>
        <p class="card-text"><%= @user.address %></p>
        <p class="card-text"><%= @user.description %></p>
        <div class="text-right">
          <% if current_user == @user %>
            <% if policy(User).update? %>
              <%= link_to "Modify", edit_user_path(current_user), class: "btn-yellow small-btn right-button" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  <div class="card">

    <div class="card-body">

      <h3 class="card-title">His hens!</h3>

      <div class="text-right">
        <% if current_user == @user %>
          <% if policy(Hen).create? %>
            <%= link_to "Add a new hen",  new_user_hen_path(current_user), class: "btn-yellow small-btn" %>
          <% end %>
        <% end %>
      </div>

      <div class="hen-cards">
        <% if policy(Request).create? %>
          <% @hens.each do |hen| %>
          <!-- Hen card. -->
          <% hen.disponibility ? availability_filter = "" : availability_filter = "grey-filter"%>
              <div class="hen-card <%= availability_filter %>">
                <% if hen.photo.attached? %>
                  <%= cl_image_tag hen.photo.key %>
                <% else %>
                  <%= image_tag("australorp.png") %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= hen.name %></h5>
                  <p class="card-text"><%= hen.breed %></p>
                  <p class="card-text">Price: <%= hen.price %>€.</p>
                  <p class="card-text"><%= hen.name %> is <%= hen.age.round %> years old!</p>

                  <% if hen.disponibility == true %>
                    <%= link_to new_hen_request_url(hen) do %>
                      <div class="text-right">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>Book <%= hen.name %>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="text-right">
                      <i class="fa fa-ban" aria-hidden="true"></i> Victime de son succès
                    </div>
                  <% end %>
                  <% if current_user == @user %>
                    <%= link_to edit_user_hen_path(@user, hen) do %>
                        <div class="text-right">
                          <i class="fa fa-arrow-right" aria-hidden="true"></i>Update <%= hen.name %>
                        </div>
                      <% end %>
                    <% end %>
                </div>
              </div>
          <% end %>
        <% else %>
          <% @hens.each do |hen| %>
          <!-- Hen card. -->
          <% hen.disponibility ? availability_filter = "" : availability_filter = "grey-filter"%>
          <div class="hen-card <%= availability_filter %>">
            <%= cl_image_tag hen.photo.key %>
            <div class="card-body">
              <h5 class="card-title"><%= hen.name %></h5>
              <p class="card-text"><%= hen.breed %></p>
              <p class="card-text">Price: <%= hen.price %>€.</p>
              <p class="card-text"><%= hen.name %> is <%= hen.age.round %> years old!</p>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="reviews">
      <a name="reviews"></a>
      <h5 style="text-align: center">Let's see <%= @user.name %> reviews</h5>
   </div>

    <div class="card-review">
     <%= cl_image_tag @user.photo.key %>
      <div class="card-review-infos">
        <% @hens.each do |hen| %>
          <% hen.reviews.each do |review|  %>
          <li style="list-style: none"> • <%= review.created_at %> <b><em>Rating: </b></em> <%= review.rating %><b><em><br>
          Comment : </b></em><%= review.content %></li>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
