<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/375510/pexels-photo-375510.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);">
  <div class="container">
    <h1><%= @user.name %></h1>
    <p>A true hen lover!</p>
  </div>
</div>

<!-- Page container -->
<div class="cards-container text-align-center">

  <!-- User Info Card -->
  <!-- Bootstrap classes to be removed. Wait for Noeline's seeds! -->
  <div class="card" id="farmer-intro-card">
    <!-- Contains the info about the user -->
    <div class="card-body">
      <h3 class="card-title"><%= @user.name %></h3>
      <p class="card-text"><%= @user.address %></p>
      <p class="card-text"><%= @user.description %></p>

    </div>
  </div>

  <div class="card">

    <div class="card-body">

      <h3 class="card-title">His hens!</h3>

      <div class="hen-cards">
        <% @hens.each do |hen| %>
        <!-- Hen card. -->
        <div class="hen-card">

          <%= image_tag("australorp.jpeg") %>
          <div class="card-body">
            <h5 class="card-title"><%= hen.name %></h5>
            <p class="card-text"><%= hen.breed %></p>
            <p class="card-text">Available: <%= hen.disponibility %></p>
            <p class="card-text">Price: <%= hen.price %>€.</p>
            <p class="card-text"><%= hen.name %> is <%= hen.age %> years old!</p>
          </div>
        </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
