<h1>Please enter the modification you want to do : </h1>


<p>Here you're current location time :<%= @request.duration %></p>

<%= simple_form_for [ @hen, @request ] do |f| %>
  <%= f.input :duration %>
  <%= f.submit "Validate", class: "btn btn-primary" %>
<% end %>

<%= link_to "Dashboard", dashboard_path %>

