<div class="dashboard text-align-center">
  <div class="container">
    <h1>Welcome <%= @user.name.capitalize %> !</h1>

    <!-- TAB Navigation -->

    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item active">
        <a class="nav-link " href="#his-requests" data-toggle="tab">My bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#rental-requests" data-toggle="tab">Rental requests</a>
      </li>
    </ul>

    <!-- Tab contents -->

    <div class="tab-content">

      <!-- TAB for REQUESTS: -->
      <div class="tab-pane" id="his-requests">
        <div class="card-product-container">
          <h2>My bookings:</h2>
          <% @user.requests.each do |request| %>
          <div class="card-product">
              <% if request.hen.photo.attached? %>
                <%= cl_image_tag request.hen.photo.key %>
              <% else %>
                <%= image_tag("australorp.png") %>
              <% end %>
            <div class="card-product-infos">
              <p>Hen booked: <strong><%= request.hen[:name] %></strong></p>
              <p>Owner name: <strong><%= request.hen.user[:name] %></strong></p>
              <p>Period: <%= request.beginning %> to <%= request.ending %></p>
              <%if policy(request).edit? %>
                <%= link_to edit_hen_request_path(request.hen.id, request.id) do %>
                  <i class="far fa-edit" aria-hidden="true"></i>
                <% end %>
                <%= link_to request_path(request.id), method: :delete, data: {confirm: 'Are you sure?'} do %>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              <% end %>
              <div class="text-right">
                <%= link_to "Leave a comment", new_hen_review_path(request.hen.id) %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>

      <!-- Tab for CUSTOMERS RENTALS REQUESTS -->

      <div class="tab-pane" id="rental-requests">
        <div class="card-product-container" >
          <h2>Pending customer requests:</h2>
          <% @requests.each do |request| %>
          <div class="card-product">
              <% if request.hen.photo.attached? %>
                <%= cl_image_tag request.hen.photo.key %>
              <% else %>
                <%= image_tag("australorp.png") %>
              <% end %>
            <div class="card-product-infos">
              <p><i class="fas fa-kiwi-bird"></i> Your hen: <strong><%= request.hen[:name] %></strong></p>
              <p><i class="far fa-calendar-plus"></i> From: <strong><%= request.beginning %></strong> to <strong><%= request.ending %></strong></p>
            </div>
          </div>
        <% end %>
        </div>
      </div>

    <!-- End of Div.Tab-content -->
    </div>

  </div>
</div>


