<div class="dashboard text-align-center">
  <div class="container">
    <h1>Welcome <%= @user.name.capitalize %> !</h1>

    <!-- TAB Navigation -->

    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

    <!-- TAB for REQUESTS: -->

    <div class="card-product-container" id="his-requests">
      <% @user.requests.each do |request| %>
      <h2>Please see below your requests:</h2>
      <div class="card-product">
          <% if request.hen.photo.attached? %>
            <%= cl_image_tag request.hen.photo.key %>
          <% else %>
            <%= image_tag("australorp.png") %>
          <% end %>
        <div class="card-product-infos">
          <p>Hen booked: <strong><%= request.hen[:name] %></strong></p>
          <p>Owner name: <strong><%= request.hen.user[:name] %></strong></p>
          <p>Period: <%= request.beginning %> to <%= request.ending %></p>
          <%if policy(request).edit? %>
            <%= link_to edit_hen_request_path(request.hen.id, request.id) do %>
              <i class="far fa-edit" aria-hidden="true"></i>
            <% end %>
            <%= link_to request_path(request.id), method: :delete, data: {confirm: 'Are you sure?'} do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          <% end %>
          <div class="text-right">
            <%= link_to "Leave a comment", new_hen_review_path(request.hen.id) %>
          </div>
        </div>
      </div>
    <% end %>
    </div>

    <!-- TAB for HENS: -->


    <div class="card-product-container" id="his-hens">
      <h2>Please see below your hens:</h2>
      <% @user.hens.each do |hen| %>
      <div class="card-product">
          <% if hen.photo.attached? %>
            <%= cl_image_tag request.hen.photo.key %>
          <% else %>
            <%= image_tag("australorp.png") %>
          <% end %>
        <div class="card-product-infos">
          <p>Your hen: <strong><%= hen[:name] %></strong></p>
        </div>
      </div>
    <% end %>
    </div>

  </div>
</div>


