<h1>Welcome <%= @user.name %> !</h1>
<h2>Please see below your requests:</h2>
<% @user.requests.each do |request| %>
  <li>
    Id: <%= request.id %>
    Hen: <%= request.hen[:name] %> by <%= request.hen.user[:name] %>
    Renting from: <%= request.beginning %> to <%= request.ending %>
    <%if policy(request).edit? %>
      <%= link_to "Edit", edit_hen_request_path(request.hen.id, request.id)%>
    <% end %>
    <%if policy(request).destroy? %>
      <%= link_to "Delete", request_path(request.id), method: :delete %>
    <% end %>
  </li>
<% end %>
